telethon==1.36.0
python-dotenv==1.0.1
psycopg2-binary==2.9.12
SQLAlchemy==2.0.51
pandas==2.2.2
dbt-core==1.8.0
dbt-postgres==1.8.0

# Task 3 (object detection)
ultralytics==8.4.83

# Task 4 (API)
fastapi==0.111.0
uvicorn==0.30.1

# Task 5 (orchestration)
dagster==1.13.11
dagster-webserver==1.13.11

pytest==8.2.2
